@using SmartTech.Models
@{
    var user = Session["user"] as user;
    var cartWithImages = Session["cart_with_images"] as List<CartWithImages>;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <!-- Stylesheets -->
    @*@Styles.Render("~/bundles/css")*@ <!-- Use CSS bundle defined in BundleConfig.cs -->
        <link href="~/Content/frontend/css/plugins/animation.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/flaticon.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/iconfont.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/ion.rangeSlider.min.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/light-box.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/line-icons.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/slick-theme.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/slick.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/snackbar.min.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/plugins/themify.css" rel="stylesheet" />
        <link href="~/Content/frontend/css/styles.css" rel="stylesheet" />
</head>

<body>

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Top Header -->
        <div class="py-2 br-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 hide-ipad">
                        <div class="top_second"><p class="medium text-muted m-0 p-0"><i class="lni lni-phone fs-sm"></i> Hotline <a href="#" class="medium text-dark text-underline">01757647319</a></p></div>
                    </div>

                    <!-- Right Menu -->
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                        <!-- Choose Language -->
                        <div class="language-selector-wrapper dropdown js-dropdown float-right mr-3">
                            <a class="popup-title" href="javascript:void(0)" data-toggle="dropdown" title="Language" aria-label="Language dropdown">
                                <span class="iso_code medium text-muted">English</span>
                            </a>
                        </div>
                        @if (Session["user"] == null)
                        {
                            <div>
                                <div class="currency-selector dropdown js-dropdown float-right mr-3">
                                    <a href="javascript:void(0);" class="text-muted medium"><i class="lni lni-user mr-1"></i>@Html.ActionLink("Register", "Signin_Register", "Home")</a>
                                </div>
                                <div class="currency-selector dropdown js-dropdown float-right mr-3">
                                    <a href="javascript:void(0);" class="text-muted medium"><i class="lni lni-user mr-1"></i>@Html.ActionLink("Login", "Login", "Home")</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p class="m-0 p-0">Welcome <i class="lni lni-user mr-1"></i><b>@Html.ActionLink(user.name, "index", "Profile")</b></p>
                        }
                    </div>

                </div>
            </div>
        </div>

        <div class="headd-sty header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="headd-sty-wrap d-flex align-items-center justify-content-between py-3">
                            <div class="headd-sty-left d-flex align-items-center">
                                <div class="headd-sty-01">
                                    <a class="nav-brand py-0" href="#">
                                        <img src="~/Content/frontend/img/logo2.png" class="logo" alt="" />
                                    </a>
                                </div>
                                <div class="headd-sty-02 ml-3">
                                    <form class="bg-white rounded-md border-bold" method="post" action="@Url.Action("Search", "Products")">
                                        <div class="input-group">
                                            <input type="text" class="form-control custom-height b-0" name="SearchQuery" placeholder="Search for products..." />
                                            <div class="input-group-append">
                                                <div class="input-group-text"><button class="btn bg-white text-danger custom-height rounded px-3" type="submit"><i class="fas fa-search"></i></button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="headd-sty-last">
                                <ul class="nav-menu nav-menu-social align-to-right align-items-center d-flex">
                                    <li>
                                        <div class="call d-flex align-items-center text-left">
                                            <i class="lni lni-phone fs-xl"></i>
                                            <span class="text-muted small ml-3">Call Us Now:<strong class="d-block text-dark fs-md">01757647319</strong></span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" onclick="openWishlist()">
                                            <i class="far fa-heart fs-lg"></i><span class="dn-counter bg-success">2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="openCart()">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <i class="fas fa-shopping-basket fs-lg"></i>
                                                <span class="dn-counter theme-bg">
                                                @if (Session["cart_with_images"] != null && Session["user"] != null) 
                                                {
                                                    <span>@cartWithImages.Count</span>
                                                }
                                                else 
                                                {
                                                    <span>0</span>
                                                }
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mobile_nav">
                                <ul>
                                    <li>
                                        <a href="#" onclick="openSearch()">
                                            <i class="lni lni-search-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#login">
                                            <i class="lni lni-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="openWishlist()">
                                            <i class="lni lni-heart"></i><span class="dn-counter">2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="openCart()">
                                            <i class="lni lni-shopping-basket"></i><span class="dn-counter">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Navigation -->
        <div class="headerd header-dark head-style-2">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <div class="nav-menus-wrapper">
                            <ul class="nav-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Shop", "Index", "Products")</li>
                                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->

        @RenderBody()

        <!-- ======================= Customer Features ======================== -->
        <section class="px-0 py-3 br-top">
            <div class="container">
                <div class="row">

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="d-flex align-items-center justify-content-start py-2">
                            <div class="d_ico">
                                <i class="fas fa-shopping-basket theme-cl"></i>
                            </div>
                            <div class="d_capt">
                                <h5 class="mb-0">Free Shipping</h5>
                                <span class="text-muted">Capped at $10 per order</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="d-flex align-items-center justify-content-start py-2">
                            <div class="d_ico">
                                <i class="far fa-credit-card theme-cl"></i>
                            </div>
                            <div class="d_capt">
                                <h5 class="mb-0">Secure Payments</h5>
                                <span class="text-muted">Up to 6 months installments</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="d-flex align-items-center justify-content-start py-2">
                            <div class="d_ico">
                                <i class="fas fa-shield-alt theme-cl"></i>
                            </div>
                            <div class="d_capt">
                                <h5 class="mb-0">15-Days Returns</h5>
                                <span class="text-muted">Shop with fully confidence</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="d-flex align-items-center justify-content-start py-2">
                            <div class="d_ico">
                                <i class="fas fa-headphones-alt theme-cl"></i>
                            </div>
                            <div class="d_capt">
                                <h5 class="mb-0">24x7 Fully Support</h5>
                                <span class="text-muted">Get friendly support</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ======================= Customer Features ======================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer style-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="footer_widget">
                                <img src="~/Content/frontend/img/logo3.png" class="img-footer small mb-2" alt="" />

                                <div class="address mt-3">
                                    Mirpur-1, Dhaka<br>Bangladesh
                                </div>
                                <div class="address mt-3">
                                    01788667080<br>shihab_help@shopper.com
                                </div>
                                <div class="address mt-3">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni lni-youtube"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <div class="footer_widget">
                                <h4 class="widget_title">Supports</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">@Html.ActionLink("Contact Us", "Contact", "Home")</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Privacy & Policy</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <div class="footer_widget">
                                <h4 class="widget_title">Shop</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Men's Shopping</a></li>
                                    <li><a href="#">Women's Shopping</a></li>
                                    <li><a href="#">Kids's Shopping</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Discounts</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <div class="footer_widget">
                                <h4 class="widget_title">Company</h4>
                                <ul class="footer-menu">
                                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="footer_widget">
                                <h4 class="widget_title">Subscribe</h4>
                                <p>Receive updates, hot deals, discounts sent straignt in your inbox daily</p>
                                <div class="foot-news-last">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Email Address">
                                        <div class="input-group-append">
                                            <button type="button" class="input-group-text b-0 text-light"><i class="lni lni-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="address mt-3">
                                    <h5 class="fs-sm text-light">Secure Payments</h5>
                                    <div class="scr_payment"><img src="~/Content/frontend/img/card.png" class="img-fluid" alt="" /></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 text-center">
                            <p class="mb-0">© 2024 SmartTech. Designed By <a href="https://synexdigital">Synex Digital</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->
        <!-- Wishlist -->
        <div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="Wishlist">
            <div class="rightMenu-scroll">
                <div class="d-flex align-items-center justify-content-between slide-head py-3 px-3">
                    <h4 class="cart_heading fs-md ft-medium mb-0">Saved Products</h4>
                    <button onclick="closeWishlist()" class="close_slide"><i class="ti-close"></i></button>
                </div>
                <div class="right-ch-sideBar">

                    <div class="cart_select_items py-2">
                        @*This is saved Product*@
                        <!-- Single Item -->
                        <div class="d-flex align-items-center justify-content-between br-bottom px-3 py-3">
                            <div class="cart_single d-flex align-items-center">
                                <div class="cart_selected_single_thumb">
                                    <a href="#"><img src="~/Content/frontend/img/product/4.jpg" width="60" class="img-fluid" alt="" /></a>
                                </div>
                                <div class="cart_single_caption pl-2">
                                    <h4 class="product_title fs-sm ft-medium mb-0 lh-1">Women Striped Shirt Dress</h4>
                                    <p class="mb-2"><span class="text-dark ft-medium small">36</span>, <span class="text-dark small">Red</span></p>
                                    <h4 class="fs-md ft-medium mb-0 lh-1">$129</h4>
                                </div>
                            </div>
                            <div class="fls_last"><button class="close_slide gray"><i class="ti-close"></i></button></div>
                        </div>
                    </div>

                    <div class="cart_action px-3 py-3">
                        <div class="form-group">
                            <button type="button" class="btn d-block full-width btn-dark-light">View Whishlist</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Cart -->
        <div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="Cart">
            <div class="rightMenu-scroll">
                <div class="d-flex align-items-center justify-content-between slide-head py-3 px-3">
                    <h4 class="cart_heading fs-md ft-medium mb-0">Products List</h4>
                    <button onclick="closeCart()" class="close_slide"><i class="ti-close"></i></button>
                </div>
                <div class="right-ch-sideBar">

                    <div class="cart_select_items py-2">
                        @*Fix Shop Cart section*@
                        @if (Session["user"] == null && Session["cart_with_images"] == null)
                        {
                            <h4 class="px-3 text-danger">You need to login to access Cart</h4>
                        }
                        else
                        {
                            decimal subtotal = 0;
                            <form method="post" action="@Url.Action("Checkout", "Payment")">
                                @foreach (var product in cartWithImages)
                                {
                                    subtotal += (product.Price * product.Quantity);
                                    <div class="d-flex align-items-center justify-content-between br-bottom px-3 py-3">
                                        <div class="cart_single d-flex align-items-center">
                                            <div class="cart_selected_single_thumb">
                                                <a href="#"><img src="@Url.Content(product.Image)" width="60" class="img-fluid" alt="" /></a>
                                            </div>
                                            <div class="cart_single_caption pl-2">
                                                <h4 class="product_title fs-sm ft-medium mb-0 lh-1">@product.Name</h4>
                                                <p class="mb-2"><span class="text-dark ft-medium small">Quantity: </span><span class="text-dark small">@product.Quantity</span></p>
                                                <h4 class="fs-md ft-medium mb-0 lh-1">$@product.Price</h4>
                                            </div>
                                        </div>
                                        <div class="fls_last"><a href="@Url.Action("DeleteCart", "Products", new { id = product.CartId })" class="close_slide gray"><i class="ti-close"></i></a></div>
                                    </div>
                                }

                                <div class="d-flex align-items-center justify-content-between br-top br-bottom px-3 py-3">
                                    <h6 class="mb-0">Subtotal</h6>
                                    <h3 class="mb-0 ft-medium">$@subtotal</h3>
                                    <input type="hidden" name="TotalPrice" value="@subtotal" />
                                </div>
                                <div class="d-flex align-items-center justify-content-between br-top br-bottom px-3 py-3">
                                    <input type="text" class="form-control" name="Address" required placeholder="Enter your Address">
                                </div>
                                <div class="cart_action px-3 py-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn d-block full-width btn-dark-light">Check Out</button>
                                    </div>
                                </div>
                                @if (Session["cart_empty"] != null)
                                {
                                    string msg = Session["cart_empty"] as string;
                                    <div class="cart_action px-3 py-3">
                                        <h4 class="text-danger">@msg</h4>
                                    </div>
                                }
                            </form>
                        }
                    </div>
                    

                </div>
            </div>
        </div>

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/frontend/js/jquery.min.js"></script>
    <script src="~/Content/frontend/js/popper.min.js"></script>
    <script src="~/Content/frontend/js/bootstrap.min.js"></script>
    <script src="~/Content/frontend/js/ion.rangeSlider.min.js"></script>
    <script src="~/Content/frontend/js/slick.js"></script>
    <script src="~/Content/frontend/js/slider-bg.js"></script>
    <script src="~/Content/frontend/js/lightbox.js"></script>
    <script src="~/Content/frontend/js/smoothproducts.js"></script>
    <script src="~/Content/frontend/js/snackbar.min.js"></script>
    <script src="~/Content/frontend/js/jQuery.style.switcher.js"></script>
    <script src="~/Content/frontend/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

    <script>
        function openWishlist() {
            document.getElementById("Wishlist").style.display = "block";
        }
        function closeWishlist() {
            document.getElementById("Wishlist").style.display = "none";
        }
    </script>

    <script>
        function openCart() {
            document.getElementById("Cart").style.display = "block";
        }
        function closeCart() {
            document.getElementById("Cart").style.display = "none";
        }
    </script>

    <script>
        function openSearch() {
            document.getElementById("Search").style.display = "block";
        }
        function closeSearch() {
            document.getElementById("Search").style.display = "none";
        }
    </script>

</body>

</html>