@using SmartTech.Models
@{
    ViewBag.Title = "Home Page";
    var topCategories = Session["top_categories"] as List<TopCategories>;
}

<main>
    <!-- ======================= Category & Slider ======================== -->
    <section class="p-0">
        <div class="container">
            <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <div class="killore-new-block-link border mb-3 mt-3">
                        <div class="px-3 py-3 ft-medium fs-md text-dark gray">Top Categories</div>

                        <div class="killore--block-link-content">
                            <ul>
                                @foreach (var item in topCategories)
                                {
                                    <li>
                                       <a href="javascript:void(0);">
                                           <i class="fas @Url.Content(item.Category.category_icon)"></i>
                                           @item.Category.category_name
                                       </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                    <div class="home-slider auto-slider mb-3 mt-3">

                        <!-- Slide -->
                        <div data-background-image="@Url.Content("~/Content/frontend/img/light-banner-2.png")" class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="home-slider-container">

                                            <!-- Slide Title -->
                                            <div class="home-slider-desc">
                                                <div class="home-slider-title mb-4">
                                                    <h5 class="fs-sm ft-ragular mb-2">New Collection</h5>
                                                    <h1 class="mb-2 ft-bold">The Standard<br>With <span class="theme-cl">Smartness</span></h1>
                                                    <span class="trending">Apple 10 comes with 6.5 inches full HD + High Valume</span>
                                                </div>

                                                <a href="#" class="btn btn-white stretched-link hover-black">Buy Now<i class="lni lni-arrow-right ml-2"></i></a>
                                            </div>
                                            <!-- Slide Title / End -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                    <div data-background-image="@Url.Content("~/Content/frontend/img/light-banner-3.png")" class="item">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="home-slider-container">

                                        <!-- Slide Title -->
                                        <div class="home-slider-desc">
                                            <div class="home-slider-title mb-4">
                                                <h5 class="fs-sm ft-ragular mb-2">Super Sale</h5>
                                                <h1 class="mb-2 ft-bold">The Standard<br>With <span class="text-success">Smartness</span></h1>
                                                <span class="trending">Xiomi Redmi 10 comes with 6.5 inches full HD + LCD Screen</span>
                                            </div>

                                            <a href="#" class="btn btn-white stretched-link hover-black">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
                                        </div>
                                        <!-- Slide Title / End -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Slide -->
                        <div data-background-image="@Url.Content("~/Content/frontend/img/light-banner-1.png")" class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="home-slider-container">

                                            <!-- Slide Title -->
                                            <div class="home-slider-desc">
                                                <div class="home-slider-title mb-4">
                                                    <h5 class="fs-sm ft-ragular mb-2">Super Sale</h5>
                                                    <h1 class="mb-2 ft-bold">The Standard<br>With Smartness</h1>
                                                    <span class="trending">Xiomi Redmi 10 comes with 6.5 inches full HD + LCD Screen</span>
                                                </div>

                                                <a href="#" class="btn theme-bg text-light">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
                                            </div>
                                            <!-- Slide Title / End -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ======================= Category & Slider ======================== -->
    
    <!-- ======================= Tag Wrap Start ============================ -->
    <section class="bg-cover" style="background:url('@Url.Content("~/Content/frontend/img/e-middle-banner.png")') no-repeat;">
        <div class="ht-60"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="tags_explore text-center">
                        <h2 class="mb-0 text-white ft-bold">Big Sale Up To 70% Off</h2>
                        <p class="text-light fs-lg mb-4">Exclussive Offers For Limited Time</p><p>
                            <a href="@Url.Action("Index", "Products")" class="btn btn-lg bg-white px-5 text-dark ft-medium">Explore Shop</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ht-60"></div>
    </section>
    <!-- ======================= Tag Wrap Start ============================ -->
    <!-- ======================= Customer Review ======================== -->
    <section class="gray">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">Testimonials</h2>
                        <h3 class="ft-bold pt-3">Client Reviews</h3>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12">
                    <div class="reviews-slide px-3">

                        <!-- single review -->
                        <div class="single_review">
                            <div class="sng_rev_thumb"><figure><img src="~/Content/frontend/img/team-1.jpg" class="img-fluid circle" alt="" /></figure></div>
                            <div class="sng_rev_caption text-center">
                                <div class="rev_desc mb-4">
                                    <p class="fs-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                                <div class="rev_author">
                                    <h4 class="mb-0">Mark Jevenue</h4>
                                    <span class="fs-sm">CEO of Addle</span>
                                </div>
                            </div>
                        </div>

                        <!-- single review -->
                        <div class="single_review">
                            <div class="sng_rev_thumb"><figure><img src="~/Content/frontend/img/team-2.jpg" class="img-fluid circle" alt="" /></figure></div>
                            <div class="sng_rev_caption text-center">
                                <div class="rev_desc mb-4">
                                    <p class="fs-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                                <div class="rev_author">
                                    <h4 class="mb-0">Henna Bajaj</h4>
                                    <span class="fs-sm">Aqua Founder</span>
                                </div>
                            </div>
                        </div>

                        <!-- single review -->
                        <div class="single_review">
                            <div class="sng_rev_thumb"><figure><img src="~/Content/frontend/img/team-3.jpg" class="img-fluid circle" alt="" /></figure></div>
                            <div class="sng_rev_caption text-center">
                                <div class="rev_desc mb-4">
                                    <p class="fs-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                                <div class="rev_author">
                                    <h4 class="mb-0">John Cenna</h4>
                                    <span class="fs-sm">CEO of Plike</span>
                                </div>
                            </div>
                        </div>

                        <!-- single review -->
                        <div class="single_review">
                            <div class="sng_rev_thumb"><figure><img src="~/Content/frontend/img/team-4.jpg" class="img-fluid circle" alt="" /></figure></div>
                            <div class="sng_rev_caption text-center">
                                <div class="rev_desc mb-4">
                                    <p class="fs-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                                <div class="rev_author">
                                    <h4 class="mb-0">Madhu Sharma</h4>
                                    <span class="fs-sm">Team Manager</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Customer Review ======================== -->
    
</main>