@model IEnumerable<SmartTech.Models.product>
@using SmartTech.Models
@{
    ViewBag.Title = "Index";
    var categories = Session["categories"] as List<product_categories>;
}


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ======================= Shop Style 1 ======================== -->
    <section class="bg-cover" style="background:url('@Url.Content("~/Content/frontend/img/banner-2.png")') no-repeat;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="text-left py-5 mt-3 mb-3">
                        <h1 class="ft-medium mb-3">Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Shop Style 1 ======================== -->
    <!-- ======================= Filter Wrap Style 1 ======================== -->
    <section class="py-3 br-bottom br-top">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="breadcrumb-item">@Html.ActionLink("Shop", "Shop", "Home")</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================= Filter Wrap ============================== -->
    <!-- ======================= All Product List ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 p-xl-0">
                    <form class="search-sidebar sm-sidebar border" method="get" action="@Url.Action("Index", "Products")">
                        <div class="search-sidebar-body">
                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4><a href="#pricing" data-toggle="collapse" aria-expanded="false" role="button">Pricing</a></h4>
                                </div>
                                <div class="widget-boxed-body collapse show" id="pricing" data-parent="#pricing">
                                    <div class="row">
                                        <div class="col-lg-6 pr-1">
                                            <div class="form-group pl-3">
                                                <input type="number" class="form-control" name="minPrice" placeholder="Min">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pl-1">
                                            <div class="form-group pr-3">
                                                <input type="number" class="form-control" name="maxPrice" placeholder="Max">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4><a href="#Categories" data-toggle="collapse" aria-expanded="false" role="button">Categories</a></h4>
                                </div>
                                <div class="widget-boxed-body collapse show" id="Categories" data-parent="#Categories">
                                    <div class="side-list no-border">
                                        <div class="single_filter_card">
                                            <div class="card-body pt-0">
                                                <div class="inner_widget_link">
                                                    <ul class="no-ul-list">
                                                        @foreach (var category in categories)
                                                        {
                                                            <li>
                                                                <input id="@category.category_name" class="checkbox-custom" name="category" type="radio" value="@category.category_name">
                                                                <label for="@category.category_name" class="checkbox-custom-label">@category.category_name</label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4><a href="#category" data-toggle="collapse" aria-expanded="false" role="button">Category</a></h4>
                                </div>
                                <div class="widget-boxed-body collapse show" id="category" data-parent="#category">
                                    <div class="filter_wraps d-flex align-items-center justify-content-end m-start">
                                        <div class="single_fitres mr-2 br-right">
                                            <select class="custom-select simple" id="sortDropdown" name="sortOption">
                                                <option value="1" selected="">Default Sorting</option>
                                                <option value="2">Sort by price: Low price</option>
                                                <option value="3">Sort by price: High price</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 mt-lg-4">
                            <div class="form-group px-3">
                                <button type="submit" class="btn form-control">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="border mb-3 mfliud">
                                <div class="row align-items-center py-2 m-0">
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                                        <h6 class="mb-0">Products Found</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- row -->
                    <div class="row align-items-center rows-products">
                        @foreach (var item in Model)
                        {
                            <!-- Single -->
                            <a class="col-xl-4 col-lg-4 col-md-6 col-6" href="@Url.Action("Details", "Products", new { id = item.id })">
                                <div class="product_grid card b-0">
                                    <div class="card-body p-0">
                                        <div class="shop_thumb position-relative">
                                            @if (item.product_photos.Any())
                                            {
                                                var firstPhoto = item.product_photos.First();
                                                <img class="card-img-top" src="@Url.Content($"~/Content/uploads/frontend/productImages/{firstPhoto.image}")" alt="Product Photo" />
                                            }
                                            else
                                            {
                                                <p class="card-img-top">No Image available</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-footer b-0 p-0 pt-2 bg-white">
                                        <div class="text-left">
                                            <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1">@Html.DisplayFor(modelItem => item.name)</h5>
                                            <div class="elis_rty"><span class="ft-bold text-dark fs-sm">$@Html.DisplayFor(modelItem => item.price)</span></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <!-- row -->
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= All Product List ======================== -->
</div>
<script>
    const onSortChange = () => {
        const sortOption = document.getElementById('sortDropdown').value;
        const searchQuery = '<%= Session["search_query"] %>';
        let url = '/Products/Index?sortOption=' + sortOption;
        if (searchQuery) {
            url += '&searchQuery=' + encodeURIComponent(searchQuery);
        }
        window.location.href = url;
    }
</script>