@model SmartTech.Models.banner

@{
    ViewBag.Title = "Edit Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Banner</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    @using (Html.BeginForm("EditBanner", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.id)

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Banner Category</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.banner_category, new { @class = "form-control", placeholder = "Category" })
                                @Html.ValidationMessageFor(m => m.banner_category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Banner Title</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.banner_title, new { @class = "form-control", placeholder = "Title" })
                                @Html.ValidationMessageFor(m => m.banner_title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Banner Description</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.banner_description, new { @class = "form-control", placeholder = "Description" })
                                @Html.ValidationMessageFor(m => m.banner_description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Banner Image</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" name="bannerImage" />
                                @Html.ValidationMessage("bannerImage", "", new { @class = "text-danger" })
                                @if (Model.banner_image != null)
                                {
                                    <img src="~/Content/uploads/frontend/banners/@Model.banner_image" alt="Banner Image" style="width: 100px; height: auto;" />
                                }
                            </div>
                        </div>

                        <div class="form-group row" style="justify-content: center;">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
